li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 3px;
  border-width: 2px;
  border-style: groove;
  border-radius: 2px;
  list-style: radial-gradient(#e66465, #9198e5);
}

div {
  margin-bottom: 5px;
}

h2 {
  color: rgb(0, 0, 0);
  padding: 5px;
}

h3 {
  color: rgb(36, 36, 36);
}

.commentItem {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  border-style: none;
  list-style: radial-gradient(#e66465, #9198e5);
}

.logoutButton {
  margin-left: 5px;
  background-color: rgb(116, 255, 237);
  font-size: smaller;
  border-radius: 8px;
  border-width: 1px;
}

.removeBlog {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: white;
  color: rebeccapurple;
  border-color: red;
}

button {
  margin: 5px;
  background-color: rgb(255, 255, 255);
  font-size: small;
  border-radius: 3px;
  border-width: 1px;
}

.createButton {
  margin-top: 3px;
  margin-bottom: 3px;
}

input {
  margin-left: 3px;
  margin-bottom: 3px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
